body {
  font-family: Rubik;
}

#project-item-template {
  display: none;
}

.project-item {
  display: block;
  float: left;
  margin: 15px;
  padding: 15px;
  background-color: #f0f0f0;
  text-decoration: none;
  color: black;
}

.project-item img.project-thumb {
  border: solid lightgrey 1px;
}

.project-item h3.project-title {
  height: 80px;
  width: 200px;
}
